@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
  }

body {
	background-image: url('../images/Boulevard.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	backdrop-filter: blur(10px);
}

.navbar {
	background-color: #404852;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.navbar-logo img {
	height: 50px;
}

.navbar-nav {
	display: flex;
	list-style: none;
	margin: 0;
	white-space: nowrap;
}

.nav-item {
	margin: 0 10px;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}

.icon {
	height: auto;
	width: auto;
	position: absolute;
	right: 5%;
    bottom: 3%;
} */

.title h5{
    color: #000000;
    text-align: left;
    margin-top: 35px;
    margin-left: 150px;
    font-size: 15px;
}

.status {
    top: 160px;
    margin-left: 150px;
}

.container{
    width:90% ;
    height:550px;
    background: #F5F5F5;
    border-radius: 15px;
    border:solid 1px #000000;
    margin: auto; 
	margin-top: 35px;
	justify-content: center;
}

.container-head{
	background-color: #404852;
	width: 150px;
	height: 35px;
	font-size: large;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: auto;
}

.content{
	width: 80%;
	height: auto;
	margin: auto;
}

/* form {
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
} */

/* Styling form-control Class */
.form-control {
	text-align: left;
	margin-bottom: 12px;
}

/* Styling form-control Label */
.form-control label {
	display: block;
	margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 95%;
}

input[type=text],
input[type=email],
input[type=date],
select[id="agama"] {
  /* border: 2px solid red; */
  border-radius: 10px;
	background-color: #5C5C5C;
	padding: 15px;
}

::placeholder,
input[type=date]::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.6; /* Firefox */
}

.date-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	/* pointer-events: none; */
	cursor: pointer;
	color: #aaa;
}

.pagination_rounded, .pagination_square {
	display: inline-block;
	margin-left:400px;
	margin-top:300px;
}

.pagination_rounded ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination_rounded li:first-child {
	margin-left: 0px;
}

.pagination_rounded ul li {
	float: left;
	margin-left: 20px;
}

.pagination_rounded ul li a:hover {
	background: #4285f4;
	color: #fff;
	border: 1px solid #4285f4;
}

a:link {
text-decoration: none;
}

.pagination_rounded .prev {
	margin-left: 0px;
	border-radius: 35px;
	width: 90px;
	height: 34px;
	line-height: 34px;
}


.pagination_rounded ul li a {
	float: left;
	color: #4285f4;
	border-radius: 50%;
	line-height: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
}

.pagination_rounded .prev i {
	margin-right: 10px;
}

.pagination_rounded .next {
	border-radius: 35px;
	width: 90px;
	height: 34px;
	line-height: 34px;
}

.visible-xs {
	display: none!important;
}

.footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: #404852;
	text-align: center;
}

.footer-text {
color: #fff;
text-decoration: none;
font-size: 18px;
font-weight: 500;
}