@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../images/Boulevard.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    backdrop-filter: blur(10px);
}

/* .icon {
	height: auto;
	width: auto;
	position: relative;
	right: 5%;
    bottom: 3%;
}  */

.title h5 {
    color: #000000;
    text-align: left;
    margin-top: 35px;
    margin-left: 150px;
    font-size: 15px;
}

.status {
    top: 160px;
    margin-left: 150px;
}

.container {
    position: relative;
    width: 90%;
    height: 600px;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 15px;
    border: solid 1px #000000;
    margin: auto;
    margin-top: 35px;
    justify-content: center;
}

.container-head {
    background-color: #404852;
    width: 150px;
    height: 35px;
    font-size: large;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
}

.content {
    width: 80%;
    height: auto;
    margin: auto;
}

/* form {
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
} */

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 12px;
    /* border: 1px solid #777; */
}

/* Styling form-control Label */
.form-control label {
    display: relative;
    margin-bottom: 20px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control select {
    width: 98.5%;
}

.form-control > input[type="text"],
.form-control > input[type="email"],
.form-control > input[type="date"],
.form-control > select[id="agama"],
.form-control > select[id="jenis-kelamin"],
.form-control > select[id="prodi"] {
    /* border: 2px solid red; */
    color: #bebebe;
    border-radius: 10px;
    background-color: #5c5c5c;
    padding: 15px;
}

::placeholder,
input[type="date"]::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.6; /* Firefox */
}

.date-icon {
    position: relative;
    top: 10px;
    right: 10px;
    /* pointer-events: none; */
    cursor: pointer;
    color: #aaa;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* .pagination_rounded, .pagination_square {
	display: inline-block;
	margin-left:400px;
	margin-top:300px;
}

.pagination_rounded ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination_rounded li:first-child {
	margin-left: 0px;
}

.pagination_rounded ul li {
	float: left;
	margin-left: 20px;
}

.pagination_rounded ul li a:hover {
	background: #4285f4;
	color: #fff;
	border: 1px solid #4285f4;
} */

a:link {
    text-decoration: none;
}
/* 
.pagination_rounded .prev {
	margin-left: 0px;
	border-radius: 35px;
	width: 90px;
	height: 34px;
	line-height: 34px;
}


.pagination_rounded ul li a {
	float: left;
	color: #4285f4;
	border-radius: 50%;
	line-height: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
}

.pagination_rounded .prev i {
	margin-right: 10px;
}

.pagination_rounded .next {
	border-radius: 35px;
	width: 90px;
	height: 34px;
	line-height: 34px;
} */

.visible-xs {
    display: none !important;
}

ul.pagination {
    display: flex;
    justify-content: center;
    /* padding-bottom: 25%; */
    /* margin-left: auto;
  margin-right: auto; */
}

.pagination > li > a,
.pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #5c5c5c;
    /* border: 1px solid #ddd */
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #000;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #000;
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

li > a {
    color: #5c5c5c;
}

.footer {
    background-color: #404852;
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: relative;
    /* min-height: 100vh; */
}

.footer-text {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
