* {
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
	padding: 0;
    /* position: relative;
    display: grid; */
}  

.container {
    flex-grow: 1;
    position: relative;
    width: 40%;
    height: 500px;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 2px solid #5676E1;
} 

.overlay {
    height: 35px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgba(37, 27, 101, 0.84);
}

.info{
    padding: 10px 0px;
}

hr {
    border-top: 1px solid #5676E1;
    margin: 5px 20px;
} 

table {
    border-collapse: collapse;
    width: 80%;
}

td {
    padding-left: 20px; 
    padding-top: 2px;
    padding-bottom: 2px;
}
  
.payment {
    padding: 7px 20px;
}

:root {
    --bg-color-bayar-btn: #CB0622;
    --bg-color-batal-btn: #F2C94C;
    --bg-color-download-btn: #219653;
    --btn-width: 170px;
}
  
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7px;
}
  
button {
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 15px;
    height: 50px;
    margin: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}
  
.bayar-btn {
    background: var(--bg-color-bayar-btn);
    width: 360px;
    flex-direction: column;
}

.bayar-btn span {
    display: block;
}
  
.bayar-btn span:first-child {
    margin-bottom: 5px;
}
  
.batal-btn {
    background: var(--bg-color-batal-btn);
    width: var(--btn-width);
    color: #000;
}
  
.download-btn {
    background: var(--bg-color-download-btn);
    width: var(--btn-width);
}
  
button.bayar-btn span:first-child {
    color: black;
}
    
button.bayar-btn span:last-child {
    color: white;
}
  
.lunas-btn{
    background: #5676E1;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 15px;
    width: 170px;
    height: 50px;
    margin: 70px 10px;
}

a{
    text-decoration: none;
}