@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e6;
    font-family: "Open Sans", sans-serif;
}

.image-wrapper {
    position: relative;
    width: 50%;
}

.wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    place-content: "center";
}

.logo img {
    height: 50px;
    padding: 0 50px;
    padding-top: 15px;
}

.container {
    position: absolute;
    display: flex;
    width: 80%;
    height: 80vh;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    background: #5c5396;
    border-radius: 26px;
}

.container img {
    /* position: absolute; */
    width: 100%;
    height: 80vh;
    background: linear-gradient(
        0deg,
        rgba(218, 218, 218, 0.29),
        rgba(218, 218, 218, 0.29)
    );
    border-radius: 26px 0px 0px 26px;
}

.login-box {
    display: flex;
    width: 100%;
    place-content: center;
    place-items: center;
    /* text-align: center; */
    /* float: right; */
    /* padding-right: 17%; */
    /* padding-top: 3%; */
}

.login-box h2 {
    font-size: 50px;
    color: #fff;
}

.form-group input {
    width: 300px;
    height: 30px;
    padding: 10px;
    background: #d9d9d9;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    border: none;
}

.form-group p {
    margin-top: auto;
    color: #fff;
    text-align: left;
}

.form-group button {
    width: 100px;
    height: 47px;
    background: #5676e1;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 15px;
}

.group-overlay {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    place-content: center;

}

.overlay-active {
    /* width: 135px; */
    /* height: 50px; */
    /* left: -200px; */
    background-color: #5c5396;

}

.overlay {
    font-weight: 600;
    padding: 0 1.5rem;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


