* {
	font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
	/* background-image: url('../images/ppl.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-blend-mode: overlay; */
}

a {
	color: #fff;
	text-decoration: none;
}

.show {
  margin-top: 10px;
}

.show input {
  margin-left: 10px;
}

input{
  border-radius:5px;
}

.show .search {
  margin-left: 10px;
}

table {
  margin-top: 50px;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 13px;
}

th {
  background-color: #000;
  color: white;
}

tr {
  margin-left: auto;
}

th, td, td .col1 {
  align-items: center;
  text-align: center;
  padding: 8px;
}

.col1{
  width: 100px;
  height: 37px;
  background: #DEF2EC;
  border-radius: 15px; 
  margin-top: 5px;
  float: left;
  border:solid 1px #68B984;
}

.col1 p{
  text-align: center;
  color: #68B984;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 10px;
}

/* td img {
  position: relative; 
   top: 50%; 
   align-items: center; 
   vertical-align: sub;

} */
