* {
	font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
	/* background-image: url('../images/ppl.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-blend-mode: overlay; */
}

a {
	color: #fff;
	text-decoration: none;
}

.show {
  margin-top: 10px;
}

.show input {
  margin-left: 10px;
}

input{
  border-radius:5px;
}

.show {
  margin-left: 10px; 
}

.show .search {
  margin-left: 500px;
}

table {
  margin-top: 50px;
  margin-bottom: 20px;
}

table tr td.riwayat {
  width: auto;
  padding-right: 100px;
}

table tr td.tanggal {
  width: auto;
  padding-right: 80px;
  padding-left: 80px;
}

table tr td.col1 {
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 13px;
}

th {
  background-color: #000;
  color: white;
}

tr {
  margin-left: auto;
}

.status {
  padding-left: 15px;
  padding-right: 15px;
}

th, td, td .col1 {
  align-items: center;
  text-align: center;
  padding: 8px;
}

.col1{
  width: 100px;
  height: 37px;
  background: #DEF2EC;
  border-radius: 15px; 
  margin-top: 5px;
  float: left;
  border:solid 1px #68B984;
}

.col1 p{
  position: relative;
  text-align: center;
  color: #68B984;
  font-size: 13px;
  vertical-align: middle;
  display: flex;
  top: 30%;
  right: 13%;
  float: right;
}

.eye-icon {
  margin-left: 10px;
  margin-top: 8px;
}

.status {
  /* margin-left: 50px; */
  margin-right: 50px;
}
/* td img {
  position: relative; 
   top: 50%; 
   align-items: center; 
   vertical-align: sub;

} */
