@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
  }

.title h5{
    color: #000000;
    text-align: left;
    margin-top: 65px;
    margin-left: 150px;
    font-size: 15px;
}

.status {
    top: 160px;
    margin-left: 150px;
}

.container{
    width:500px;
    height:50px;
    background: #fff;
    border-radius: 15px;
    border:solid 1px #8B7B95;
    margin-top: 5px;
    margin-bottom: 25px; 
}

.col{
    width: 390px;
    height: 40;
    background: #fff;
    border-radius: 15px; 
    float: left;
}

.col p{
    text-align: left;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 17px;
}

.col1{
    width: 100px;
    height: 37px;
    background: #DEF2EC;
    border-radius: 15px; 
    margin-top: 5px;
    float: left;
    border:solid 1px #68B984;
}

.col1 p{
    position: relative;
    text-align: center;
    color: #68B984;
    font-size: 13px;
    vertical-align: middle;
    display: flex;
    /* left: 2%; */
    top: 30%;
    right: 13%;
    float: right;
}

.col2{
    width: 100px;
    height: 37px;
    background: #f5b4be;
    border-radius: 15px; 
    margin-top: 5px;
    float: left;
    border:solid 1px #FC2947;
}

.col2 p{
    position: relative;
    text-align: center;
    color: #FC2947;
    font-size: 13px;
    vertical-align: middle;
    display: flex;
    /* margin-left: 1px; */
    top: 30%;
    right: 20%;
    float: right;
}

.error{
    color: #FC2947;
    font-size: 10px;
    margin-top: 57px;
    margin-left: 10px;
}

.error span{
    color: #5676E1;
}

.col3{
    width: 100px;
    height: 37px;
    background: #fcfdb6;
    border-radius: 15px; 
    margin-top: 5px;
    float: left;
    border:solid 1px #FFD966;
}

.col3 p{
    position: relative;
    text-align: center;
    color: #FFD966;
    font-size: 13px;
    vertical-align: middle;
    display: flex;
    /* margin-left: 1px; */
    top: 30%;
    right: 10%;
    float: right;
}

  
.icon {
	height: auto;
	width: auto;
	margin-left: 100%;
    margin-top: 90%;
}

.box-wrapper {
    padding: 10px;
    /* flex-grow: 1; */
    display: flex;
    /* flex-direction: row; */
    /* border: solid 1px green */
}


  